<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASJYlxaR4t0cytrUhFad4_b18qcmOAtr8</string>
	<key>GCM_SENDER_ID</key>
	<string>604951430117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baolong.instegem</string>
	<key>PROJECT_ID</key>
	<string>instagram-f1d80</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f1d80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604951430117:ios:2cf3ef0dac563d076ee50c</string>
</dict>
</plist>